generation_config:
  missing_environments: ignore

job_types:
  setup_branch:
    disabled: true
  nightly:
    disabled: false
  other:
    disabled: true
  pullrequest:
    disabled: false
  release:
    disabled: true
  tools:
    disabled: true

environments:
  native:
    env_vars:
      NATIVE: true
      BUILD_MVN_OPTS_CURRENT: -Dnative -Dquarkus.native.container-build=true
      ADDITIONAL_TIMEOUT: 720
    ids:
    - native
  quarkus-main:
    enabled: false
    env_vars:
      QUARKUS_BRANCH: main
    ids:
    - quarkus
  sonarcloud:
    enabled: false
    auto_generation: false
    env_vars:
      ENABLE_SONARCLOUD: true
    ids:
    - sonarcloud
    - coverage
  ecosystem:
    auto_generation: false
    ids:
    - ecosystem
productized_branch: true
disable:
  triggers: false
  deploy: true
repositories:
- name: kogito-pipelines
- name: kogito-runtimes
- name: kogito-apps
- name: kogito-examples
- name: kogito-images
- name: kogito-operator
- name: kogito-serverless-operator
#- name: kie-tools
- name: kogito-docs
- name: kie-docs
  branch: main-kogito
productized_repositories:
- name: kogito-pipelines
- name: kogito-runtimes
- name: kogito-apps
- name: kogito-examples
- name: kogito-images
- name: kogito-serverless-operator
#- name: kogito-operator
#- name: kogito-docs
git:
  author:
    name: kiegroup
    credentials_id: kie-ci3
    token_credentials_id: kie-ci3-token
  fork_author:
    name: kie-ci
    credentials_id: kie-ci
  quarkus:
    author:
      name: quarkusio
      credentials_id: kie-ci
    branch: main
  jenkins_config_path: .ci/jenkins
buildchain_config:
  git:
    repository: kogito-pipelines
    file_path: .ci/pull-request-config.yaml
maven:
  settings_file_id: kogito_release_settings
  nexus:
    release_url: https://repository.jboss.org/nexus
    release_repository: jboss-releases-repository
    staging_profile_url: https://repository.jboss.org/nexus/content/groups/kogito-public/
    staging_profile_id: 1976dd1c18392a
    build_promotion_profile_id: ea49ccd6f174
  artifacts_repository: ''
  artifacts_upload_repository:
    url: https://repository.jboss.org/nexus/content/repositories/snapshots/
    creds_id: kogito-snapshots-upload
  quarkus_platform_repository:
    url: https://repository.jboss.org/nexus/content/repositories/kogito-internal-repository/
    creds_id: kogito-internal-nexus-creds
cloud:
  image:
    registry_credentials_nightly: nightly_kogito
    registry_credentials_release: release_kogito
    registry: quay.io
    namespace: kiegroup
    latest_git_branch: main
jenkins:
  email_creds_id: KOGITO_CI_EMAIL_TO
  default_tools:
    jdk: kie-jdk17
    maven: kie-maven-3.9.6
    sonar_jdk: kie-jdk17
  jobs_definition_file: .ci/jenkins/dsl/jobs.groovy
